.login {
  width: 100vw;
  height: calc(100vh - 60px);
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.4) 33.3%,
      rgba(0, 0, 0, 0.1) 67%,
      rgba(0, 0, 0, 0.4)
    ),
    url("https://img.freepik.com/free-vector/wooden-surface-picnic-table-kitchen-counter_107791-15788.jpg?w=1380&t=st=1667932968~exp=1667933568~hmac=783413301b1ca5e9e896d7a1d25c0adfd1e98ebaf9a7a8ae1effbe2126659505");
    background-repeat: no-repeat;
  background-size: cover;
}

.loginWrapper {
  width: 25%;
  min-width: 275px;
  height: 40%;
  background-color: #fff;
  margin: auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.loginTitle {
  font-size: 30px;
  font-weight: 700;
  color: rgb(5, 71, 71);
  margin-top: 20px;
}
.loginForm {
  display: flex;
  flex-direction: column;
  width: 80%;
}
.loginLabel {
  font-size: 18px;
  margin: 15px 0;
}
.loginInput {
  padding: 5px;
  width: 100%;
  font-size: 17px;
  border: none;
  border-bottom: 1px solid grey;
}
.loginInput:focus {
  outline: none;
}
.loginBtn {
  padding: 8px;
  margin-top: 50px;
  border: none;
  color: #fff;
  background-color: blue;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  border-radius: 5px;
}

.loginBtn:hover{
  cursor: pointer;
  background-color: rgb(128, 9, 0);
}
.loginRegisterBtn {
  align-self: flex-start;
  margin: 20px 20px 0 0;
  padding: 11px;
  background-color: Blue;
  font-size: 17px;
  color: #fff;
  font-weight: 550;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.btns {
  align-self: flex-start;
}

@media screen and (max-width: 480px) {
  .loginWrapper{
    margin-left:50px
  }
  .loginRegisterBtn{
    position: absolute;
  right: 10px
  }
}